@include "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, system-ui, sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

main {
  padding-top: 5rem;
}

code {
  font-family: monaco;
  line-height: inherit;
}

p,
pre {
  margin-bottom: 2.25rem;
}

[aria-current="page"] {
  pointer-events: none;
  color: #467;
}

[aria-current="page"]:focus {
  outline: 0 !important;
}

[style="color:#78A960"] {
  color: #305d19 !important;
}
